// ****************
// **** Colors ****
// ****************
$textCommon: #4D5053;
$textCommonAlternate: #292F36;
$textGentle: #CDA274;
$bodyColor: #FFFFFF;
$themeColorLevelOne: #F4F0EC;
// ***************
// **** Sizes ****
// ***************
$defaultMaxWidth: 1200px;